/* Escribe tu css aqui */
body {
	margin:10px;
}
.box {
	width:200px;
	height:100px;
	padding: 10px;
	margin-bottom:10px;
}
.yellow {
	background-color: yellow;
}
.pink {
	background-color: pink;
}
.yellow, .pink{
	height: 100px
}
